@page
@model Webshop.Pages.Webstore.CartModel

<h1>Varukorg</h1>
<table class="cart">
    @if (Model.Account_Products.Any())
    {
        <thead>
            <tr>
                <th></th>
                <th>Namn</th>
                <th>Antal</th>
                <th>Styckpris</th>
                <th colspan="2">Totalpris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Account_Products)
            {
                <tr class="cart-item">
                    <td><img src="/Images/@product.Product.Image" class="product-image" /></td>
                    <td>@product.Product.Name</td>
                    <td>@product.Quantity</td>
                    <td>@(product.Product.Price)kr</td>

                    @{
                        decimal totalPrice = Math.Round(product.Product.Price * product.Quantity, 2);
                    }

                    <td>@(totalPrice)kr</td>
                    <td>
                        <form method="post" class="remove-item-form" asp-page-handler="Delete">
                            <input type="hidden" name="productId" value="@product.Id"/>
                            <input type="submit" value="❌" id="remove-button"/>
                        </form>
                    </td>
                </tr>
            }
            <tr class="cart-footer">
                <td colspan="3"></td>
                <td>
                    <form method="post" class="checkout-form">
                        <input type="submit" value="Till kassan" id="order-button" />
                    </form>
                </td>
                <td>
                    @Math.Round(Model.Sum, 2)kr
                </td>
                <td class="last-cell">
                    <form method="post" class="clear-cart" asp-page-handler="ClearCart">
                        <input type="submit" value="Rensa varukorg" id="clear-cart-button"/>
                    </form>
                </td>
            </tr>
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td>Din varukorg är tom</td>
            </tr>
        </tbody>
    }
</table>
@if (Model.Account_Products.Any())
{
    <div class="discount-form">
        <form>
            <p>
                <label for="discount-input" class="discount-label">Ange rabattkod:</label>
                <input type="text" id="discount-input" name="DiscountCode" />
                <input type="submit" id="discount-button" />
            </p>
        </form>
        <p>(Rabatten dras av på totalbeloppet i orderbekräftelsen)</p>
    </div>
}

<style>
    html {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .product-image {
        max-width: 80px;
        height: auto;
        margin-right: 20px;
    }

    .cart {
        background-color: #f9f9f9;
        padding: 20px 0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #eee;
    }

    #order-button, #clear-cart-button {
        background-color: #ff6600;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .clear-cart {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
    }

    .remove-item-form{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .last-cell{
        width: 0%;
    }

    #clear-cart-button {
        background-color: red;
    }

    .discount-form {
        text-align: right;
        margin-right: 30px;
    }

    #remove-button{
        background: none;
        border: none;
        font-size: 1.1rem;
    }
    #remove-button:hover{
        color: transparent;
        text-shadow: 0 0 0 gray;
    }
</style>