@page
@model Webshop.Pages.Webstore.IndexModel
@{
    ViewBag.Title = "Beten";
}


<hr />
<h1>@ViewBag.Title</h1>
<div class="search-options">
    <form class="search-filter">
        <p>
            Filtrera på kategori:
            <select asp-for="SelectedCategoryId" asp-items="Model.CategoryList" onchange="this.form.submit()">
                <option value="">All</option>
            </select>
            <label for="SearchString">Sök fiskedrag:</label>
            <input type="text" asp-for="SearchString" />
            <input type="submit" value="Sök" />
            <a asp-page="/Webstore/Index" id="clear-filter">Rensa filter</a>
        </p>
    </form>
</div>
<div class="container">
    @for (int i = (Model.CurrentPage - 1) * 10; i < Math.Min(Model.CurrentPage * 10, Model.Products.Count); i++)
    {
        <a asp-page="/Webstore/Details" asp-route-id="@Model.Products[i].Id">
            <div class="bait-box">
                <h3 class="product-name">@Model.Products[i].Name</h3>
                <img src="/Images/@Model.Products[i].Image" alt="bait image" class="product-image" />
                <p class="product-price">@(Model.Products[i].Price) :-</p>
            </div>
        </a>
    }
</div>
<div class="page-navigation-div">
    @if (Model.CurrentPage > 1)
    {
        <form method="get" class="page-navigation-form">
            <input type="hidden" name="pageId" value="@(Model.CurrentPage - 1)" />
            <button type="submit" class="previous-page-button">Föregående Sida</button>
        </form>
    }
    else
    {
        <button type="button" class="previous-page-button" disabled>Föregående Sida</button>
    }

    @if (Model.CurrentPage * 10 < Model.Products.Count)
    {
        <form method="get" class="page-navigation-form">
            <input type="hidden" name="pageId" value="@(Model.CurrentPage + 1)" />
            <button type="submit" class="next-page-button">Nästa Sida</button>
        </form>
    }
    else
    {
        <button type="button" class="next-page-button" disabled>Nästa Sida</button>
    }
</div>


<style>
    html {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .home-page-welcome {
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    h1 {
        text-align: center;
    }

    .search-options {
        display: flex;
        justify-content: center;
    }

    select, input[type="text"], input[type="submit"] {
        border-radius: 5px;
    }

    select {
        height: 25px;
        margin-right: 15px;
    }

        select option {
            background-color: black;
            color: white;
        }

    input[type="text"] {
        height: 20px;
    }

    input[type="submit"] {
        width: 60px;
        padding: 3px;
        background-color: white;
        color: black;
        font-weight: bold;
    }

    #clear-filter {
        font-weight: bold;
    }

    .container {
        max-width: 75%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        align-items: center;
    }

    .bait-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 250px;
        box-shadow: 0 0 4px black;
        border-radius: 5px;
    }

        .bait-box .product-name {
            font-size: 15px;
            color: black;
        }

        .bait-box .product-price {
            font-size: 15px;
            font-weight: bold;
            color: red;
        }

    .product-image {
        max-width: 240px;
        height: 140px;
        margin: auto;
    }

    .previous-page-button, .next-page-button {
        background-color: #7393B3;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 10px;
    }

    button:disabled {
        background-color: #808080;
        cursor: not-allowed;
    }

    .page-navigation-form {
        display: inline-block;
    }

    .page-navigation-div {
        text-align: center;
    }
</style>