@page
@model Webshop.Pages.Webstore.IndexModel
@{
    ViewBag.Title = "Beten";
}


<h3>@ViewBag.Title</h3>
<form>
    <p>
        <select asp-for="SelectedCategoryId" asp-items="Model.CategoryList">
            <option value="">All</option>
        </select>
        <label for="SearchString">Sök fiskedrag:</label>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Sök" />
        <a asp-page="/Webstore/Index">Rensa filter</a>
    </p>
</form>
<hr />
<div class="container">
    @for (int i = (Model.CurrentPage - 1) * 10; i < Math.Min(Model.CurrentPage * 10, Model.Products.Count); i++)
    {
        <a asp-page="/Webstore/Details" asp-route-id="@Model.Products[i].Id">
            <div class="bait-box">
                @Model.Products[i].Name
                <img src="/Images/@Model.Products[i].Image" alt="bait image" class="product-image" />
                @(Model.Products[i].Price)kr
            </div>
        </a>
    }
</div>
<div class="page-navigation-div">
    @if (Model.CurrentPage > 1)
    {
        <form method="get" class="page-navigation-form">
            <input type="hidden" name="pageId" value="@(Model.CurrentPage - 1)" />
            <button type="submit" class="previous-page-button">Föregående Sida</button>
        </form>
    }
    else
    {
        <button type="button" class="previous-page-button" disabled>Föregående Sida</button>
    }

    @if (Model.CurrentPage * 10 < Model.Products.Count)
    {
        <form method="get" class="page-navigation-form">
            <input type="hidden" name="pageId" value="@(Model.CurrentPage + 1)" />
            <button type="submit" class="next-page-button">Nästa Sida</button>
        </form>
    }
    else
    {
        <button type="button" class="next-page-button" disabled>Nästa Sida</button>
    }
</div>


<style>
    html {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .home-page-welcome {
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    .container {
        max-width: 70%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        align-items: center;
    }

    .bait-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 250px;
        box-shadow: 0 0 4px black;
        border-radius: 5px;
    }

    .product-image {
        max-width: 300px;
        height: 140px;
        margin: auto;
    }

    .previous-page-button, .next-page-button {
        background-color: #7393B3;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 10px;
    }

    button:disabled {
        background-color: #808080;
        cursor: not-allowed;
    }

    .page-navigation-form {
        display: inline-block;
    }

    .page-navigation-div {
        text-align: center;
    }
</style>